{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Галерея</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--link rel="stylesheet" href="gallerystyle.css"-->
	<link rel="stylesheet" href="{% static 'css/gallerystyle.css' %}">
  </head>
  <body>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="file:///C:/Users/Asus/Desktop/Method/final%20project/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D1%8F%D1%8F%20%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0/homepage.html#">Домашняя страница</a></li>
        <li class="breadcrumb-item"><a href="file:///C:/Users/Asus/Desktop/Method/final%20project/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B5%D1%8F/gallery.html">Галерея</a></li>
        <li class="breadcrumb-item"><a href="file:///C:/Users/Asus/Desktop/Method/final%20project/%D0%9E%20%D0%BD%D0%B0%D1%81/aboutus.html">О нас</a></li>
        <li class="breadcrumb-item"><a href="#">Продукты</a></li>
      </ol>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="53146910_w640_h640_1_5255059aa993__5059aa9978.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
		  
    <img src="{% static "images/BBN_3989.jpg" %}" alt="My image">
		  
  <!--img src="BBN_3989.jpg" class="card-img-top" alt="..."-->
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="BBN_4001 (1).jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="BBN_4123.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="IMG_4504.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="IMG_4530.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="IMG_4533.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="IMG_4542.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="IMG_4544.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="IMG_4554.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="IMG_4570.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="IMG_4572.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="IMG_5357.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="IMG_5363.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
  <img src="Persidskiy-kover-Nain.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
        </div>
      </div>
    </div>

  </body>
</html>
